@import "../public/variable";
.container {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: 100% 100%;
  font-size: @fontSize3;
  color: @white;
  a {
    color: @white;
    &:visited {
      color: @white;
    }
  }
  .logo {
    width: 240/@rem-pre;
    height: 240/@rem-pre;
    margin: 90/@rem-pre auto 0 auto;
    background-size: contain;
    background-image: url('../../icon/logo.png');
  }
  .login-wrap {
    width: 520/@rem-pre;
    height: 365/@rem-pre;
    margin: 105/@rem-pre auto 0 auto;
  }
  .login-other {
    margin: 20/@rem-pre auto;
    width: 520/@rem-pre;
  }
}

