.header {
  /* 头部 */
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -5rem;
  width: 10rem;
  text-align: center;
  height: 1.40625rem;
  padding: 0.234375rem 0;
  line-height: 0.9375rem;
  background-color: #f5f5f5;
  border-bottom: 2px solid #e7e7e8;
}
.header-wrap {
  /* 头部容器 */
  height: 1.40625rem;
}
.header-top {
  /* 透明头部 */
  background: transparent;
  border-bottom-color: transparent;
  color: #fff;
}
.header-pa {
  /* 顶部头部 */
  width: 100%;
  position: absolute;
  top: 0;
}
.header .left {
  /* 左侧内容 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.3125rem;
  margin: auto 0;
}
.header .right {
  /* 右侧内容 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.3125rem;
  margin: auto 0;
  height: 0.9375rem;
}
.header .s-gup {
  /* 130图标组 */
  width: 2.03125rem;
  height: 0.9375rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.46875rem;
}
.icon-back:after {
  /* 返回图标 */
  background-image: url('icon/back_b.png');
}
.icon-me:after {
  /* 菜单图标 */
  background-image: url('icon/me_b.png');
}
.icon-search:after {
  /* 搜索图标 */
  background-image: url('icon/search_w.png');
}
.icon-msg:after {
  /* 消息图标 */
  background-image: url('icon/message_w.png');
}
.icon-collect:after {
  /* 收藏图标 */
  background-image: url('icon/collect_w.png');
}
.icon-share:after {
  /* 分享图标 */
  background-image: url('icon/share_w.png');
}
.header-top .icon-back {
  /*透明头部返回图标*/
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.header-top .icon-back:after {
  background-image: url('icon/back_w.png');
}
.header-top .icon-me {
  /*透明头部返回图标*/
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.header-top .icon-me:after {
  background-image: url('icon/me_w.png');
}
