.header {
  /* 头部 */
  position: relative;
  width: 10rem;
  margin: 0 auto;
  text-align: center;
  height: 0.9375rem;
  padding: 0.234375rem 0;
  line-height: 0.9375rem;
  background-color: #f5f5f5;
  border-bottom: 2px solid #e7e7e8;
}
.header-top {
  /* 透明头部 */
  background: transparent;
  border-bottom-color: transparent;
  color: #fff;
}
.header-pa {
  /* 顶部头部 */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5rem;
}
.header .left {
  /* 左侧内容 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.3125rem;
  margin: auto 0;
  width: 0.9375rem;
  height: 0.9375rem;
}
.header .right {
  /* 右侧内容 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.3125rem;
  margin: auto 0;
  height: 0.9375rem;
}
.header .s-gup {
  /* 130图标组 */
  width: 2.03125rem;
  height: 0.9375rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.46875rem;
}
.icon-back {
  /* 返回图标 */
  background-image: url('');
}
.icon-menu {
  /* 菜单图标 */
  background-image: url('');
}
.icon-search {
  /* 搜索图标 */
  background-image: url('');
}
.icon-msg {
  /* 消息图标 */
  background-image: url('');
}
.icon-like {
  /* 喜欢图标 */
  background-image: url('');
}
.icon-share {
  /* 分享图标 */
  background-image: url('');
}
.header-top .icon-back {
  /*透明头部返回图标*/
  background-image: url('');
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.header-top .icon-menu {
  /*透明头部菜单图标*/
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
