@import "@{_common}/public/mixin";

.store {
	&-head {
		width: @rem-max;
		height: 180/@rem-pre;
		padding: 20/@rem-pre;
		position: relative;
		margin-top: -120/@rem-pre;
		.user-photo {
			float: left;
		}
		.rank {
			width: 300/@rem-pre;
			height: 30/@rem-pre;
			float: left;
			margin: 50/@rem-pre 0 0 20/@rem-pre;
		}
		.icon-22 {
			float: right;
			margin: 58/@rem-pre 0 0 10/@rem-pre;
		}
	}
}