@import "@{_common}/public/mixin";

.banner {
	position: relative;
	width: 10rem;
	height: 370/64rem;
	overflow: hidden;
	.img {
		position: absolute;
		.li {
			width: 10rem;
			height: 370/64rem;
			float: left;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	.nav {
		width: 400/@rem-pre;
		line-height: 10/@rem-pre;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 10px;
		margin: 0 auto;
		text-align: center;
		.li {
			display: inline-block;
			width: 8px;
			height: 8px;
			line-height: 8px;
			border: 1px solid fadeout(@bgColor,20%);
			border-radius: 50%;
			margin: 0 4/@rem-pre;
			&.cur {
				border-color: transparent;
				background: fadeout(@bgColor,20%);
			}
		}
	}
}