.banner {
  position: relative;
  width: 10rem;
  height: 5.78125rem;
  overflow: hidden;
}
.banner ul {
  position: absolute;
}
.banner ul li {
  width: 10rem;
  height: 5.78125rem;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
}
