//基本设置
@max-width: 640px; //px 最大宽度
@rem-max: 10rem; //rem 最大值
@rem-full-aliquots: 10; //rem 全等份量
@rem-pre: @max-width/@rem-max; //rem 一等份量

//灰阶配色
@titleColor: #f5f5f5;
@lineColor: #e7e7e8;
@listColor: #ffffff;
@bgColor: #edeef1;

//字体大小
@fontSize1: 34/@rem-pre;
@fontSize2: 30/@rem-pre;
@fontSize3: 26/@rem-pre;
@fontSize4: 22/@rem-pre;
@fontSize5: 18/@rem-pre;
@fontSize6: 14/@rem-pre;

//主要用色
@white: #ffffff;
@mainColor1: #d22f32;
@mainColor2: #f34433;
@mainColor3: #393b42;
@mainColor4: #7f7f7f;
@mainColor5: #cecece;

//辅助用色
@helpColor1: #fb8004;
@helpColor2: #f9b115;
@helpColor3: #55d12c;
@helpColor4: #2297f6;
@helpColor5: #3f51b5;
@helpColor6: #673bb7;
@helpColor7: #9c28b1;