@import "@{_common}/public/mixin";

.body-container{
  background-image: url("./icon/mybdb.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.copy-right{
  margin-top: 2.5rem;
  text-align: center;
}
.bdb-list {
  width: 10rem;
  position:relative;
  padding: 150/@rem-pre 20/@rem-pre 0 20/@rem-pre;
  a {
    width: 50%;
    float: left;
    text-align: center;
    color: #7f7f7f;
    font-size: 30/64rem;
    line-height: 30/64rem;
    .w-1 {
      color: #fff;
      width: 200/@rem-pre;
      margin: 10/@rem-pre 0 70/@rem-pre 50/@rem-pre;
    }
    .w-2 {
      color: #fff;
      width: 200/@rem-pre;
      margin: 10/@rem-pre 0 30/@rem-pre 50/@rem-pre;
    }
  }
  .icon {
    display: inline-block;
    width: 200/64rem;
    height: 200/64rem;
    background-size: contain;
    background-repeat: no-repeat;
    &-01 {
      background-image: url('./icon/icon-b01.png');
    }
    &-02 {
      background-image: url('./icon/icon-b02.png');
    }
    &-03 {
      background-image: url('./icon/icon-b03.png');
    }
    &-04 {
      background-image: url('./icon/icon-b04.png');
    }
    &-05 {
      background-image: url('./icon/icon-b05.png');
    }
    &-06 {
      background-image: url('./icon/icon-b06.png');
    }
  }
}
.switch-btn {
  width: 200/@rem-pre;
  height: 20/@rem-pre;
  margin-left: 220/@rem-pre;
  margin-bottom: 40/@rem-pre;
  text-align: center;
  .r-1 {
    display: inline-block;
    width: 0.3125rem;
    height: 0.3125rem;
    border: 2px solid #fff;
    border-radius: 40%;
    vertical-align: top;
    margin:0 10/@rem-pre;
    &.on {
      background-color: #fff;
    }
  }
}

